.navbar {
    display: flex;
    justify-content: flex-end;
    padding: 15px;
    gap: 15px;
    align-items: center;
  }
  
  .navbar a {
    text-decoration: none;
    color: black;
    font-size: 14px;
  }
  
  .menu-icon {
    width: 20px;
    cursor: pointer;
  }
  
  .profile-icon {
    width: 30px;
    border-radius: 50%;
  }
  